<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Profiles</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.11517760157585144</real>
				<key>Green Component</key>
				<real>0.8151979446411133</real>
				<key>Red Component</key>
				<real>0.2330075055360794</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.4690399169921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.927295840126291</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.40784313725490196</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4666666666666667</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9786744117736816</real>
				<key>Green Component</key>
				<real>0.891211492250517</real>
				<key>Red Component</key>
				<real>0.4167257286133845</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13008742736566298</real>
				<key>Green Component</key>
				<real>0.8703160350678734</real>
				<key>Red Component</key>
				<real>0.21895777543895642</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.1199188232421875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45591172855347395</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8588235294117647</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47058823529411764</real>
				<key>Red Component</key>
				<real>0.0784313725490196</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3653629720211029</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7803921568627451</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7725490196078432</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9</real>
				<key>Red Component</key>
				<real>0.9</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.09036211669445038</real>
				<key>Green Component</key>
				<real>0.052976857870817184</real>
				<key>Red Component</key>
				<real>0.9570882320404053</real>
			</dict>
			<key>BM Growl</key>
			<false/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.20784313725490197</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16179462507659315</real>
				<key>Red Component</key>
				<real>0.10588235294117646</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>22.829389856216757</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.9877190589904785</real>
				<key>Red Component</key>
				<real>0.9691909551620483</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.03614787757396698</real>
				<key>Green Component</key>
				<real>0.7995954751968384</real>
				<key>Red Component</key>
				<real>0.9429706931114197</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.7021318674087524</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9480862021446228</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9965955018997192</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>Yes</string>
			<key>Custom Directory</key>
			<string>Yes</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Smcup Rmcup</key>
			<true/>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Guid</key>
			<string>C704810D-A995-437C-BD4C-F3ABF8901533</string>
			<key>Has Hotkey</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1.18</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.734233021736145</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3591606020927429</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.31416459517045453</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Personal</string>
			<key>Non Ascii Font</key>
			<string>FiraCodeNF-Reg 11</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Ligatures</key>
			<true/>
			<key>Normal Font</key>
			<string>FiraCodeNF-Reg 13</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>100</integer>
			<key>Screen</key>
			<integer>0</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Scrollback With Status Bar</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.972564697265625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.972564697265625</real>
				<key>Red Component</key>
				<real>0.972564697265625</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31055498123168945</real>
				<key>Green Component</key>
				<real>0.20615114271640778</real>
				<key>Red Component</key>
				<real>0.09597768634557724</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>editor</string>
				<key>editor</key>
				<string>com.microsoft.VSCode</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Bell Alert</key>
			<false/>
			<key>Send Code When Idle</key>
			<false/>
			<key>Send Session Ended Alert</key>
			<false/>
			<key>Send Terminal Generated Alerts</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<false/>
			<key>Silence Bell</key>
			<true/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Status Bar Layout</key>
			<dict>
				<key>advanced configuration</key>
				<dict>
					<key>algorithm</key>
					<integer>0</integer>
					<key>background color</key>
					<dict>
						<key>Alpha Component</key>
						<real>1.0</real>
						<key>Blue Component</key>
						<real>0.20392157137393951</real>
						<key>Color Space</key>
						<string>sRGB</string>
						<key>Green Component</key>
						<real>0.16470588743686676</real>
						<key>Red Component</key>
						<real>0.10588235408067703</real>
					</dict>
					<key>font</key>
					<string>FuraCodeNerdFontComplete-Retina 12</string>
				</dict>
				<key>components</key>
				<array>
					<dict>
						<key>class</key>
						<string>iTermStatusBarBatteryComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.63</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.63</real>
									<key>Red Component</key>
									<real>0.9</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarSpringComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>iTermStatusBarSpringComponentSizeMultipleKey</key>
								<integer>1</integer>
								<key>iTermStatusBarSpringComponentSpringConstantKey</key>
								<real>0.01</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.63</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.8614285714285714</real>
									<key>Red Component</key>
									<real>0.9</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarCPUUtilizationComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.63</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.9</real>
									<key>Red Component</key>
									<real>0.7071428571428573</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarSpringComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>iTermStatusBarSpringComponentSizeMultipleKey</key>
								<integer>1</integer>
								<key>iTermStatusBarSpringComponentSpringConstantKey</key>
								<real>0.01</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.7842857142857143</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.9</real>
									<key>Red Component</key>
									<real>0.63</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarMemoryUtilizationComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.9</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.7842857142857144</real>
									<key>Red Component</key>
									<real>0.63</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarSpringComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5.0</real>
								<key>iTermStatusBarSpringComponentSizeMultipleKey</key>
								<integer>1</integer>
								<key>iTermStatusBarSpringComponentSpringConstantKey</key>
								<real>0.01</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.9</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.63</real>
									<key>Red Component</key>
									<real>0.7071428571428569</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarNetworkUtilizationComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: priority</key>
								<real>5.0</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.8614285588264465</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.6299999952316284</real>
									<key>Red Component</key>
									<real>0.8999999761581421</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>background color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1.0</real>
									<key>Blue Component</key>
									<real>0.20392157137393951</real>
									<key>Color Space</key>
									<string>sRGB</string>
									<key>Green Component</key>
									<real>0.16470588743686676</real>
									<key>Red Component</key>
									<real>0.10588235408067703</real>
								</dict>
								<key>font</key>
								<string>FuraCodeNerdFontComplete-Retina 12</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.021208244134627244</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use HFS Plus Mapping</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Use Tab Color</key>
			<false/>
			<key>Use Underline Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>2</integer>
			<key>Working Directory</key>
			<string>~/code</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.11517760157585144</real>
				<key>Green Component</key>
				<real>0.8151979446411133</real>
				<key>Red Component</key>
				<real>0.2330075055360794</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.4690399169921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.927295840126291</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4666666666666667</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9786744117736816</real>
				<key>Green Component</key>
				<real>0.891211492250517</real>
				<key>Red Component</key>
				<real>0.4167257286133845</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13008742736566298</real>
				<key>Green Component</key>
				<real>0.8703160350678734</real>
				<key>Red Component</key>
				<real>0.21895777543895642</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.1199188232421875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9171688878168424</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8243847489356995</real>
				<key>Green Component</key>
				<real>0.3780505061149597</real>
				<key>Red Component</key>
				<real>0.07923751324415207</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3653629720211029</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333333333333</real>
				<key>Green Component</key>
				<real>0.3333333333333333</real>
				<key>Red Component</key>
				<real>0.3333333333333333</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.09036211669445038</real>
				<key>Green Component</key>
				<real>0.052976857870817184</real>
				<key>Red Component</key>
				<real>0.9570882320404053</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.484619140625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3552782542331168</real>
				<key>Red Component</key>
				<real>0.16773400828242302</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<real>0.1</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>0.9877190589904785</real>
				<key>Red Component</key>
				<real>0.9691909551620483</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.03614787757396698</real>
				<key>Green Component</key>
				<real>0.7995954751968384</real>
				<key>Red Component</key>
				<real>0.9429706931114197</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.7021318674087524</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9480862021446228</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9965955018997192</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Yes</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Guid</key>
			<string>5B4DA205-C234-4486-B2CE-C6A09D0DE55A</string>
			<key>Horizontal Spacing</key>
			<real>1.2377988516566265</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.734233021736145</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3591606020927429</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.3600178006329114</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Cobalt</string>
			<key>Non Ascii Font</key>
			<string>OperatorMonoNerdFontComplete---Light 14</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>OperatorMonoNerdFontComplete---Light 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>80</integer>
			<key>Screen</key>
			<integer>0</integer>
			<key>Scrollback Lines</key>
			<integer>5000</integer>
			<key>Scrollback With Status Bar</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7091699838638306</real>
				<key>Green Component</key>
				<real>0.7091699838638306</real>
				<key>Red Component</key>
				<real>0.7091699838638306</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31055498123168945</real>
				<key>Green Component</key>
				<real>0.20615114271640778</real>
				<key>Red Component</key>
				<real>0.09597768634557724</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>editor</string>
				<key>editor</key>
				<string>com.sublimetext.3</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.01635521168113418</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use HFS Plus Mapping</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0479868693524095</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>1</integer>
			<key>Working Directory</key>
			<string>/Users/lukecartledge/Code</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3097887</real>
				<key>Green Component</key>
				<real>0.3097887</real>
				<key>Red Component</key>
				<real>0.3097887</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3764706</real>
				<key>Green Component</key>
				<real>0.4235294</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.6792163848876953</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.8150007128715515</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7996491</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9982605</real>
				<key>Green Component</key>
				<real>0.8627756</real>
				<key>Red Component</key>
				<real>0.7116503</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9965209</real>
				<key>Green Component</key>
				<real>0.6133059</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9970397</real>
				<key>Green Component</key>
				<real>0.8763103</real>
				<key>Red Component</key>
				<real>0.8759136</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.36610424518585205</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.6622430682182312</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.11343934386968613</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.7799881100654602</real>
				<key>Red Component</key>
				<real>0.7882639169692993</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9999999403953552</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.553671911317906</real>
				<key>Red Component</key>
				<real>0.26701357960700994</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9921569</real>
				<key>Green Component</key>
				<real>0.4509804</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9960784</real>
				<key>Green Component</key>
				<real>0.772549</real>
				<key>Red Component</key>
				<real>0.7764706</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4862745</real>
				<key>Green Component</key>
				<real>0.4862745</real>
				<key>Red Component</key>
				<real>0.4862745</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.6901961</real>
				<key>Green Component</key>
				<real>0.7137255</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.16213393211364746</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.09423892199993134</real>
				<key>Red Component</key>
				<real>0.07421143352985382</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>4.177674278846154</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3764706</real>
				<key>Green Component</key>
				<real>0.6470588</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.91</real>
				<key>Red Component</key>
				<real>0.65</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Yes</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7333333492279053</real>
				<key>Green Component</key>
				<real>0.7333333492279053</real>
				<key>Red Component</key>
				<real>0.7333333492279053</real>
			</dict>
			<key>Guid</key>
			<string>A5D3408D-D183-4A47-9D8D-5E2AF2EC0073</string>
			<key>Horizontal Spacing</key>
			<real>0.987840032003012</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.678</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.27</real>
				<key>Red Component</key>
				<real>0.023</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>DroidSansMonoForPowerline 18</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>DroidSansMonoForPowerline 18</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>80</integer>
			<key>Screen</key>
			<integer>0</integer>
			<key>Scrollback Lines</key>
			<integer>5000</integer>
			<key>Scrollback With Status Bar</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9476005</real>
				<key>Green Component</key>
				<real>0.9476005</real>
				<key>Red Component</key>
				<real>0.9476005</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5153061</real>
				<key>Green Component</key>
				<real>0.2224857</real>
				<key>Red Component</key>
				<real>0.2099074</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>editor</string>
				<key>editor</key>
				<string>com.github.atom</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.03923354289940829</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use HFS Plus Mapping</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.0675592996987953</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/lukecartledge/code</string>
		</dict>
	</array>
</dict>
</plist>
